

<div class="page-header">
  <div class="container">
    <h1>
      WATCH
      <br>
      <small>a swanky collection of Film and TV, all yours to stream anywhere.</small>
    </h1>
  </div>
</div>

<div class="container">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropTag" data-toggle="dropdown" aria-expanded="true">
      Find by type
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropTag">
    <li role="presentation"><a role="menuitem" href="#">bad movie night</a></li>
    <li role="presentation"><a role="menuitem" href="#">mindfucky</a></li>
    <li role="presentation"><a role="menuitem" href="#">srs bzns</a></li>
    <li role="presentation"><a role="menuitem" href="#">more ...</a></li>
    <hr>
    <li role="presentation"><a role="menuitem" href="#">shark</a></li>
    <li role="presentation"><a role="menuitem" href="#">zombies</a></li>
    <li role="presentation"><a role="menuitem" href="#">hot people</a></li>
    <li role="presentation"><a role="menuitem" href="#">more ...</a></li>

  </ul>
  </div>
</div>

<div class="container">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Film</a></li>
  <li role="presentation"><a href="#">TV</a></li>
</ul>
</div>

<div class="container">
<p>
<h3>Shark Attack 3: Megalodon</h3>
<span class="label label-default">IMDB | 2.7</span>
<span class="label label-primary">bad movie night</span>
<span class="label label-primary">shark</span>
1:39

stream!
<hr>
</p>
</div>
