<h1>List of Requests</h1>

<hr>
<% if @requests.any? %>
<table class="table table-striped">
  <% @requests.each do |r| %>
    <tr>
      <td>
        <% if uri?(r.request) %>
          <a href="<%= r.request %>"><%= r.request %></a>
        <% else %>
          <%= r.request %>
        <% end %>
      </td>
      <td class="text-right">
        <% if user_is_at_least_admin? %>
          <%= link_to 'Delete', request_path(r),
              class: "btn btn-danger btn-xs",
              method: :delete,
              data: { confirm: 'Are you sure you want to delete "'+ r.request + '"?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  There aren't any requests.
<% end %>
