<h1>List of Requests</h1>

<hr>
<% if @requests.any? %>
<table class="table table-striped">
  <% @requests.each do |r| %>
    <tr>
      <td>
        <%= r.request %>
      </td>
      <td class="text-right">
        <%= link_to 'Delete', request_path(r),
            class: "btn btn-danger btn-xs",
            method: :delete,
            data: { confirm: 'Are you sure you want to delete "'+ r.request + '"?' } %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  There aren't any requests.
<% end %>
