<div class="media-tile thumbnail col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-1">
  <%= link_to medium_path(m) do %>
    <img src="/<%= m.image_url %>" class="poster_md" alt="<%= m.title %>" >
  <% end %>
</div>
