
// Fonts
@import url(http://fonts.googleapis.com/css?family=Oswald:400);
@import url(http://fonts.googleapis.com/css?family=Lato:400);

@import "font-awesome-sprockets";
@import "font-awesome";

// typography
$font-size-base:        16px;
$font-family-base:      "Lato", Times, serif;
$headings-font-family:  "Oswald", Helvetica, Arial, sans-serif;

// navbar
$navbar-default-bg:     #fff;
$navbar-border-radius:  0px;
//$navbar-default-border: #fff;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import url("https://vjs.zencdn.net/4.11/video-js.css");

// Local styles
.profile_picture {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  overflow: hidden;
}

.img_lg {
  height: 8em;
  width: 8em;
  overflow: hidden;
}

.poster_md {
  height: 10em;
  width: auto;
  overflow: hidden;
}

.poster_sm {
  height: 5em;
  width: auto;
  overflow: hidden;
}

.icon {
  height: 100%;
  width: audo;
}

.big_icon {
  font-size: 3em;
  display: inline-block;
  color: gray;
}

.media-tile a {
  text-decoration: none !important;
}

.background {
  background: image-url("laundromat.svg") no-repeat center center fixed;
  width: 100%;
  height: 100vh;

  background-size: contain;
}

// Load all module-specific CSS also
@import "*"
